<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-5">
            <form action="/records/new" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">名稱*</label>
                    <input id="name" type="text" name="name" class="form-control" required="required">
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Start date:</label> <br>
                    <input type="date" id="date" name="date" value="" min="2022-01-01" class="form-control"
                        max="2024-12-31">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">類別*</label>
                    <select id="category" name="categoryId" class="form-select" aria-label="category selection">

                        <option selected disabled>{{record.categoryId.name}}</option>

                        {{#each categories}}
                        <option value="{{this._id}}">{{ this.name }}</option>
                        {{/each}}

                    </select>

                </div>

                <div class="mb-3">
                    <label for="amount" class="form-label">金額</label>
                    <input id="amount" name="amount" type="text" class="form-control">
                </div>


                <div class="col-12">
                    <button class="btn btn-primary" type="submit">新增</button>
                    <a class="btn btn-dark" href="/">back</a>
                </div>
                

            </form>
        </div>
    </div>
</div>